.projects {
  background-color: #323946;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects span {
  color: rgb(230, 0, 255);
}

.projects h2 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 5rem;
}

.projects .projects_container {
  display: flex;
}

/* maior que 768px: telas menores, laptops */
@media (max-width: 768px) {
  .projects {
    gap: 5rem;
  }
}