.projects {
  background-color: #323946;
}

.projects span {
  color: rgb(230, 0, 255);
}

.projects h2 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 5rem;
}

.projects .projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}