.carousel {
  width: 70vw;
  margin-bottom: 2rem;
}

.article {
  display: flex !important;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.carousel img {
  display: inline;
  width: 25vw;
  height: 25vw;
}

.article h4 {
  font-size: 2.5rem;
}