.carousel {
  width: 80vw;
  margin-bottom: 2rem;
}

.article {
  display: flex !important;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.carousel img {
  display: inline;
  width: 40vw !important;
  border-radius: 1rem;
  /* height: 25vw; */
}

.article h4 {
  font-size: 2.5rem;
  text-shadow: 0 0.05rem 0.3rem white;
}

.project_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 30vw;
  margin-right: 1rem;
}

.project_content p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 0.7rem 0;
}

.links {
  display: flex;
  gap: 3rem;
  justify-content: space-between;

}

.links a {
  color: rgb(230, 0, 255);;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(230, 0, 255);
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.links a:hover {
  background-color: rgb(230, 0, 255);
  color: #323946;
  /* box-shadow: 0 0 1rem rgb(230, 0, 255); */
}

.icon {
  font-size: 2rem;
}

/* maior que 768px: telas menores, laptops */
@media (max-width: 768px) {
  .carousel img {
    width: 60vw !important;
    /* height: 60vw; */
  }

  .project_content {
    width: 60vw;
  }

  .article {
    gap: 2rem;
  }

  .article {
    align-content: center;
    flex-direction: column;
    align-items: center;
  }

  .links {
    gap: 1.5rem;
  }

  .links a {
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
}