.about_content span {
  color: rgb(230, 0, 255);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: rgb(230, 0, 255);
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1f242d;
  transition: 0.5s ease;
  margin-top: 1rem;
}

.btn:hover {
  box-shadow: 0 0 1rem rgb(230, 0, 255);
  color: #fff;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #323946;
}

.about_content {
  text-align: center;
}

.about_content h2 {
  font-size: 4.5rem;
}

.about_content h3 {
  font-size: 2rem;
}

.about_content p {
  font-size: 1.5rem;
  margin: 2rem 0;
}