.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: #0f0f11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(230, 0, 255);
  box-shadow: 0 0 1rem rgb(230, 0, 255);
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  cursor: default;
}

.logo span {
  color: rgb(230, 0, 255);
}

.navbar a {
  font-size: 1.7rem;
  color: white;
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(230, 0, 255);
}

.navbar a:hover {
  border-bottom: 1px solid;
}

.menu_icon {
  font-size: 3.6rem !important;
  display: none !important;
}

/* maior que 992px: desktops */
@media (max-width: 992px) {
  .header {
    padding: 2rem 3%;
  }
}

/* maior que 768px: telas menores, laptops */
@media (max-width: 768px) {
  .menu_icon {
    display: block !important;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: #0f0f11;
    box-shadow: 0rem 1rem 1rem -1rem rgb(230, 0, 255);
    display: none;
  }

  .navbar.open {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}