.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 100; */
}

.logo {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  cursor: default;
}

.logo span {
  color: rgb(166, 0, 255);
}

.navbar a {
  font-size: 1.7rem;
  color: white;
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(166, 0, 255)
}